<!DOCTYPE html>
<html>
<head>
<title>FranksLaptopApp</title>
<meta name="description" content="website description" />
<meta name="keywords" content="website keywords, website keywords" />
<meta http-equiv="content-type"
	content="text/html; charset=windows-1252" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cerulean/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="css/styles.css" />
<link href="images/design/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- modernizr enables HTML5 elements and feature detects -->
<script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/main.js"></script>
<script src="resources/lib/jquery-min.js"></script>
<script src="resources/lib/underscore.js"></script>
<script src="resources/lib/backbone-min.js"></script>
<script src="resources/js/models.js"></script>
<script src="resources/js/mainView.js"></script>
<script src="resources/js/detailsView.js"></script>
<script src="resources/js/wineView.js"></script>
<script src="resources/js/app.js"></script>
<script type="text/template" id="wine_list">
		<li><a href="#" id=<%= id %>><%= make+ " " + model %></a></li>
	</script>

<script type="text/template" id="wine-details">
<button id="btnAdd">New Wine</button>
<div class="form-left-col">

<label>Id:</label>
<input id="id" name="id" type="text" value="<%= id %> "disabled />

<label>Make:</label>
<input type="text" id="make" name="make" value="<%= make %>"/>
<label>Model:</label>
<input type="text" id="model" name="model" value="<%= model %>"/>

<label>processor:</label>
<input type="text" id="processor" name="processor" value="<%= processor %>"/>

<label>Price:</label>
<input type="text" id="price" name="price"  value="<%= price %>"/>

<label>Ram:</label>
<input type="text" id="ram_gb" name="ram_gb"  value="<%= ram_gb %>"/>
<br>
<button id="btnSave">Save</button>
<button id="btnDelete">Delete</button>
</div>

<img height="300" src="resources\pics/<%= image %>"/>
<label>Notes:</label>
<textarea id="description" name="description"><%= description %></textarea>


</script>
</head>

<body>

	<!------------------------------------------------------------->
	<!--------------------- TABS ---------------------------------->
	<!------------------------------------------------------------->
	<div id="main">
		<header>
			<div id="strapline">
				<div id="welcome_slogan"></div>
				<!--close welcome_slogan-->
			</div>
			<!--close strapline-->

		</header>
	</div>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav nav-tabs">

					<li><a href="#home" data-toggle="tab">Home</a></li>
					<li><a href="#dataTable" data-toggle="tab">View All
							Laptops</a></li>
					<li><a href="#CRUD" data-toggle="tab">CRUD</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!------------------------------------------------------------->
	<!--------------------- HOME ---------------------------------->
	<!------------------------------------------------------------->
	<div class="tab-content">
		<div class="tab-pane fade" id="home">
			<div id="site_content">

				<div class="sidebar_container">
					<div class="sidebar">
						<div class="sidebar_item">
							<h2>New Website</h2>
							<p>Welcome to our new website. Please have a look around, any
								feedback is much appreciated.</p>
						</div>
						<!--close sidebar_item-->
					</div>
					<!--close sidebar-->
					<div class="sidebar">
						<div class="sidebar_item">
							<h2>Special Offers!</h2>
							<p>Sale now on! Up to 30% off!</p>
						</div>
						<!--close sidebar_item-->
					</div>
					<!--close sidebar-->
					<div class="sidebar">
						<div class="sidebar_item">
							<h2>Contact</h2>
							<p>Phone: (087) 1234567</p>
							<p>Email: Frank@FranksLaptops.ie</p>
						</div>
						<!--close sidebar_item-->
					</div>
					<!--close sidebar-->
				</div>
				<!--close sidebar_container-->

				<div class="slideshow">
					<ul class="slideshow">
						<li class="show"><img width="680" height="250"
							src="images/banner.png" /></li>
						<li><img width="680" height="250" src="images/banner2.JPG" /></li>
					</ul>
				</div>

				<div id="content">
					<div class="content_item">
						<h1>Welcome To Frank's Laptops!</h1>
						<p>Have a look at our great range and offers!</p>
						<p>Call in today and meet with our team of experts who will
							help find the ideal laptop for you!</p>
					</div>
					<!--close content_item-->
				</div>
				<!--close content-->
			</div>
			<!--close site_content-->
			<footer> Frank's Laptops Copyright&copy;2017 </footer>
		</div>

		<!------------------------------------------------------------->
		<!--------------------- MODAL ---------------------------------->
		<!------------------------------------------------------------->

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
						<div class="leftArea">
							<ul id="wineList"></ul>
						</div>
						<form id="wineForm">
							<div id="mainArea"></div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							id="close">Closer</button>
					</div>
				</div>
			</div>
		</div>


		<!------------------------------------------------------------->
		<!--------------------- DATATABLE ---------------------------------->
		<!------------------------------------------------------------->
		<div class="tab-pane fade" id="dataTable">
			<p>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Make</th>
						<th>Model</th>
						<th>Processor</th>
						<th>Ram(GB)</th>
						<th>Price</th>
						<th>More Info</th>
					</tr>
				</thead>
				<tbody id="rows">
				</tbody>
			</table>
			<button type="button" "id="hiddenbtn"></button>
			<!------------------------------------------------------------->
			<!--------------------- TAB 3 --------------------------------->
			<!------------------------------------------------------------->
		</div>
		<div class="tab-pane fade" id="CRUD">

			<div id="site_content">

				<h1>Upload a File</h1>
				<form action="rest/files/upload" method="post"
					enctype="multipart/form-data">
					<p>
						Select a file : <input type="file" name="file" size="50" />
					</p>
					<input type="submit" value="Upload It" />
				</form>
			</div>
		</div>
	</div>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script>
	
  </div><!--close main-->
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/image_slide.js"></script>
</body>
</html>
